li {
  align-items: center;
  background-color: rgb(35, 16, 65);
  border-radius: 4px;
  box-shadow: 2px 2px 16px rgba(30, 0, 49, 0.4);
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.li-text-container {
  background-color: rgb(216, 200, 245);
  border-radius: 4px;
  box-shadow: inset 1px 1px 8px rgba(15, 1, 41, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  width: 50%;
}

.li-data-container {
  display: flex;
}

.li-text-container h4 {
  color: rgb(122, 45, 0);
}

.li-text-container p {
  color: rgb(61, 22, 0);
  font-size: 14px;
  font-weight: 500;
}

.li-btn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.li-link {
  align-items: center;
  background-color: rgb(177, 92, 13);
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
}

.li-delete-btn {
  align-items: center;
  background-color: rgb(35, 16, 65);
  border: none;
  border-radius: 20px;
  color: rgb(236, 40, 40);
  display: flex;
  font-size: 40px;
  max-height: 40px;
}
